.login {
  position: relative;
  height: 100%;
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/e178a4e7-4f52-4661-b2ae-41efa25dca7c/2004e7b3-6754-4b90-863f-e62af6dad042/US-en-20210222-popsignuptwoweeks-perspective_alpha_website_medium.jpg ")
    center no-repeat;
  background-size: cover;
}

.login__logo {
  position: fixed;
  left: 0;
  object-fit: contain;
  padding-left: 20px;
  width: 150px;
}

.login__button {
  position: fixed;
  right: 20px;
  top: 20px;
  width: 100px;
  padding: 8px 18px;
  font-size: 1rem;
  color: #fff;
  background-color: #e50914;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  border-color: transparent;
}

.login__gradient {
  width: 100%;
  z-index: 1;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.login__body {
  position: absolute;
  top: 30%;
  padding: 20px;
  max-width: 950px;
  margin: 0 auto;
  text-align: center;
  z-index: 1;
  color: #fff;
  left: 0;
  right: 0;
}

.login__body > h1 {
  font-size: 3.125rem;
  margin-bottom: 20px;
}

.login__body > h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 30px;
}

.login__body > h3 {
  font-size: 1.3rem;
  font-weight: 400;
}

.login__input > form > input {
  padding: 10px;
  outline-width: 0;
  height: 30px;
  width: 30%;
  border: none;
  max-width: 600px;
}
