.row {
  color: white;
  margin-left: 20px;
}

.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row__poster {
  max-height: 100px;
  object-fit: contain;
  margin-right: 10px;
  width: 100%;
  transition: transform 450ms;
  position: relative;
}
/* enlarges poster when mouse hovers */
/* .row__poster:hover {
  transform: scale(1.08);
  opacity: 1;
} */

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__posterLarge {
  max-height: 250px;
}

.row__posterLarge:hover {
  transform: scale(1.09);
  opacity: 1;
}

.row:focus-within .row__poster,
.row:hover .row__poster {
  transform: translateX(-25%);
}

.row__poster:focus ~ .row__poster,
.row__poster:hover ~ .row__poster {
  transform: translateX(25%);
}

.row .row__poster:focus,
.row .row__poster:hover {
  transform: scale(1.3);

  z-index: 1;
}
